@font-face {
    font-family: HankenGrotesk;
    src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
    font-family: HankenGrotesk;
}
#card{
    display: flex;
}
.leftSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:207px;
    padding:30px;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    color: #fff;
}
.scoreCircle{
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    width:150px;
    height:150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rightSide{
    width:237px;
}