@font-face {
    font-family: HankenGrotesk;
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
    font-family: HankenGrotesk;
    gap:2vh;
}
#card{
    display: flex;
    height: 395px;
    border-radius: 25px;
    gap:10px;
    box-shadow: 3px 10px 20px hsl(221, 100%, 96%);
}
.leftSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:207px;
    padding:30px;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    color: #fff;
    border-radius: 25px;
}
.leftSide h3{
    color: hsl(241, 100%, 89%);
}
.scoreCircle{
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    width:150px;
    height:150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scoreCircle span{
    margin-top:0;
}
.scoreCircle h1{
    font-size: 53px;
    margin-bottom: 0;
    margin-top: 30px;
}
span{
    color: hsl(240, 9%, 71%)
}
.leftSide p{
    margin-top:0;
    text-align: center;
    width: 185px;
    color: hsl(241, 100%, 89%);
    font-size: 12px;
}
.rightSide{
    width:237px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.rightSide h3{
    align-self: start;
    margin-left: 20px;
}
.sumContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:75%;
}
.title{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 5px;
}
.reaction{
    background-color: rgba(255, 87, 87, 0.1);
    color: hsl(0, 100%, 67%);
}
.memory{
    background-color: rgba(255, 176, 31, 0.1);
    color: rgb(255, 176, 31);
}